{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!
{% endblock %}

{% block body %}
	<div class=" row row-cols-1 row-cols-md-3 g-4">


		{% for dest in destin  %}

			<div class="card" style="width: 18rem;">
				<img src="assets/pictures/{{ dest.picture}}" class="card-img-top" alt="...">


				<div class="card-body">
					<h5 class="card-title">{{ dest.place }}</h5>

					<p class="card-text">{{ dest.des }}</p>

				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{{ dest.country }}</li>

					<li class="list-group-item">{{ dest.price }}</li>


				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Only 4 places left Reserve Now</a>

				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
