{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!
{% endblock %}

{% block body %}
	<div class="row  row-cols-1 row-cols-md-3 " style=" margin-left:30px; text-align:center; gap:3rem;">


		{% for dest in destin  %}

			<div class="card" style="width: 18rem; ">
				<img src="assets/pictures/{{ dest.picture}}" class="card-img-top" alt="...">


				<div class="card-body">
					<h5 class="card-title">{{ dest.place }}</h5>


					<a href="/details/{{dest.id}}" class="card-link">

						<button>Wiew</button>
					</a>
					<a href="/edit/{{dest.id}}" class="card-link">


						<button>Edit</button>
					</a>
					<a href="/delete/{{dest.id}}" class="card-link">


						<button>Delete</button>
					</a>

				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
